html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

#svgDefs{
    display: none;
}
/* ----------------------------HEADER BEGINS--------------------------- */
header{
    width: 100%;
    position: fixed;
    top: 0%;
    background-color:white;
    z-index: 2;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: 'hamIcon title userPic';
    align-items: center;
    background-color: rgb(30, 123, 181); 
}
header h1{
    grid-area: title;
    margin: 0%;
    color: white;
    font-size: 21px;
    text-align: center;
    font-weight: bolder;
    padding: 5px 0px;
}
header svg{
    height: 22px;
    width: 22px;
}

header svg#hamburger{
    grid-area: hamIcon;
    margin-left: 10px;

}

header svg#userPic{
    grid-area: userPic;
    margin-right: 10px;
    justify-self: end;
    border-radius: 50%;

}
/* ----------------------------HEADER ENDS--------------------------- */

/* ----------------------------SIDEBAR STARTS--------------------------- */
nav{
    width: 75%;
    height: 100vh;
    position: fixed;
    z-index: 4;
    left:-100%;
    transition: left 0.3s ease;
}

nav div#peopleWrapper{
    position: relative;
    background: linear-gradient(to bottom, rgba(30,98,181,1) 0%, rgba(123,202,247,1) 100%);
    box-shadow: 2px 0px 10px 2px black;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "people"
                         "chatList";
    grid-template-rows: 5% 95%;
    transition: transform 0.3s ease;
}

.showNav{
    left: 0%;
}

nav div#peopleWrapper div#people{
    width: 100%;
    grid-area: people;
    align-self: center;
    justify-self: center;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    border-bottom: 1px solid white;
    display: grid;
    grid-template-areas: "lookText closeIcon"
}

nav div#peopleWrapper div#people span{
    grid-area: lookText;
    justify-self: start;
    padding: 0px 20px;
    align-self: center;
}

nav div#peopleWrapper div#people svg{
    grid-area: closeIcon;
    justify-self: end;
    align-self: center;
    height: 25px;
    width: 25px;
    margin: 5px;
}

nav div#peopleWrapper div#chat_list{
    grid-area: chatList;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 20px;
}

nav div#peopleWrapper div#chat_list div.user{
    color:white;
    padding: 10px;
    display: grid;
    grid-template-areas: "proPic username"
                         "proPic joinTime";
    grid-template-columns: 25% 75%;
    align-items: center;
}

nav div#peopleWrapper div#chat_list div.user svg.proPic{
    height: 50px;
    width: 50px;
    grid-area: proPic;
    border-radius: 50%;
}

nav div#peopleWrapper div#chat_list div.user span.userName{
    grid-area: username;
    font-size: 20px;
    padding: 0px 5px;
}

nav div#peopleWrapper div#chat_list div.user span.joinTime{
    grid-area: joinTime;
    font-size: 14px;
    padding: 5px;
    border-bottom: 1px solid white;
}
/* ----------------------------SIDEBAR ENDS--------------------------- */

/* ---------------------------- SIGNUP FORM BEGINS --------------------------- */
main#joinpage{
    padding:10% 0%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form#signup{
    position: relative;
    color: white;
    padding: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, rgba(30,98,181,1) 0%, rgba(123,202,247,1) 100%);
    border-radius: 0px 15px 15px 15px;
    box-shadow: 0px 0px 4px 0px rgb(53, 53, 53);
}

form#signup::before{
    content: '';
    height: 0px;
    width: 0px;
    border:none;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgba(30,98,181,1);
    position: absolute;
    top: 0%;
    left: -15px; 
    box-shadow: 2px -3px 4px -4px rgb(53, 53, 53);
}
form#signup div.userInfoWrapper{
    margin-bottom: 30px;
}

form#signup div.userInfoWrapper span{
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

form#signup div.userInfoWrapper input{
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 4px 0px 4px 4px;
    border: none;
    width:100%;

}
form#signup div.userInfoWrapper div.userInfo{
    position: relative;
}
form#signup div.userInfoWrapper div.userInfo::after {
    content: '';
    height: 0px;
    width: 0px;
    border-top: none;
    border-right:none;
    border-left:8px solid rgb(255, 255, 255);
    border-bottom:8px solid transparent;
    position: absolute;
    right: -8px;
    top: 0%;
}

form#signup button{
    height: 40px;
    color: white;
    border: none;
    font-size: 14px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: rgba(30,98,181,1);
}
/* ---------------------------- SIGNUP FORM ENDS --------------------------- */

/* ----------------------------MESSAGE LIST BEGINS--------------------------- */
#messageList{
    height:100vh;
    overflow-y: scroll;
    width: 96%;
    padding:10px;
    padding-top: 12%;
    padding-bottom: 17%;
    /* margin-bottom: 15%; */
    color: white;
    font-size: 16px;
    margin-left: 2%;
    margin-right: 2%;
}
/* ----------------------------MESSAGE LIST ENDS--------------------------- */

/* ----------------------------MESSAGE BEGINS--------------------------- */
.message{
    background-color: rgb(30, 98, 181); 
    border-radius: 0px 10px 10px 10px;
    padding: 10px;
    word-break: break-all;
    hyphens: auto;
    box-shadow: 1px 2px 3px 0px rgb(75, 75, 75);
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "sender time"
                         "msgText msgText";
}

.messageItemsWrapper{
    display: inline-block;
    min-width: 50%;
    max-width: 75%;
}

.outerMessageItemsWrapper{
    margin-top: 2%;
}

.message::after{
    content: "";
	position: absolute;
	left: -10px;
	top: 0px;
	width: 0;
	height: 0;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #1e62b5;
}

.message .sender{
    grid-area: sender;
    justify-self: start;
    font-size: 12px;
    font-weight: lighter;
}

.message .time{
    grid-area: time;
    justify-self: end;
    font-size: 12px;
    font-weight: lighter;
}

.message .msgText{
    color:white;
    grid-area: msgText;
    justify-self: start;
    margin: 0%;
}
.message a.msgText{
    text-decoration: underline;
}
/* ----------------------------MESSAGE ENDS--------------------------- */

/* ----------------------------MESSAGE BOX BEGINS--------------------------- */
#messageboxWrapper{
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0px;
}

#messageBox{
    background-color: white;
    /* position: fixed;
    bottom: 0px; */
    padding: 10px;
    width:98%;
    display: flex;
    margin: 1% 1% 1% 1%;
    box-shadow: 0px 0px 10px 0px gray;
    border-radius: 5px;
}

#messageBox input{
    flex-basis: 74%;
    margin-right: 2%;
    padding: 5px;
    border:none;
    border-bottom:2px solid grey; 
    transition: border-bottom 0.5s ease;
    font-size: 14px;
}

#messageBox input:focus{
    outline: none;
    border-bottom:2px solid rgb(30, 98, 181); 
}

#messageBox button{
    border-radius: 10px;
    border: none;
    background-color:  rgb(30, 123, 181); 
    color: white;
    font-size: 16px;
    font-family: 'Quicksand',sans-serif;
    font-weight: lighter;
    box-shadow:none;
    transition:box-shadow 0.3s ease;
}

#messageBox span#location{
    margin-right: 1%;
    border-radius: 10px;
    border: none;
    background-color:  rgb(30, 123, 181);
    color: white;
    padding: 5px; 
    transition:box-shadow 0.3s ease;
}

#messageBox button:hover,#messageBox span#location:hover{
    box-shadow: 0px 0px 5px 0px gray;
    background-color: rgb(41, 147, 213); 
    cursor: pointer;
}
/* ----------------------------MESSAGE BOX ENDS--------------------------- */

button:focus,input:focus{
    outline: none;
}
div#overlay{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.598);
    z-index: 2;
}
.hideOverlay{
    display: none;
}

/*------------Clearfix: forces an element not to collapse upon content flow disruption------------*/
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}