html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

/* ----------------------------HEADER BEGINS--------------------------- */
header{
    width: 100%;
    position: fixed;
    top: 0%;
    background-color:white;
    z-index: 999;
}
header h1{
    margin: 0%;
    background-color: rgb(30, 123, 181); 
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 2%;
    padding: 5px 0px;
    box-shadow: 0px 0px 8px 0px gray;
}
/* ----------------------------HEADER ENDS--------------------------- */

/* ----------------------------MESSAGE LIST BEGINS--------------------------- */
#messageList{
    width: 96%;
    padding:10px;
    margin-top: 10%;
    margin-bottom: 15%;
    color: white;
    font-size: 16px;
    margin-left: 2%;
    margin-right: 2%;
}
/* ----------------------------MESSAGE LIST ENDS--------------------------- */

/* ----------------------------MESSAGE BEGINS--------------------------- */
.message{
    background-color: rgb(30, 98, 181); 
    border-radius: 0px 10px 10px 10px;
    padding: 10px;
    word-break: break-all;
    box-shadow: 1px 2px 5px 0px grey;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "sender time"
                         "msgText msgText";
}

.messageItemsWrapper{
    display: inline-block;
    min-width: 50%;
    max-width: 75%;
}

.outerMessageItemsWrapper{
    margin-top: 2%;
}

.message::after{
    content: "";
	position: absolute;
	left: -10px;
	top: 0px;
	width: 0;
	height: 0;
	border-bottom: 10px solid transparent;
	border-right: 10px solid rgb(30, 98, 181);
}

.message .sender{
    grid-area: sender;
    justify-self: start;
    font-size: 12px;
    font-weight: lighter;
}

.message .time{
    grid-area: time;
    justify-self: end;
    font-size: 12px;
    font-weight: lighter;
}

.message .msgText{
    color:white;
    grid-area: msgText;
    justify-self: start;
    margin: 0px;
    margin-top: 2%;
}
.message a.msgText{
    text-decoration: underline;
}
/* ----------------------------MESSAGE ENDS--------------------------- */

/* ----------------------------MESSAGE BOX BEGINS--------------------------- */
#messageboxWrapper{
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0px;
}

#messageBox{
    background-color: white;
    /* position: fixed;
    bottom: 0px; */
    padding: 10px;
    width:98%;
    display: flex;
    margin: 2% 1% 1% 1%;
    box-shadow: 0px 0px 10px 0px gray;
    border-radius: 5px;
}

#messageBox input{
    flex-basis: 74%;
    margin-right: 2%;
    padding: 5px;
    border:none;
    border-bottom:2px solid grey; 
    transition: border-bottom 0.5s ease;
    font-size: 14px;
}

#messageBox input:focus{
    outline: none;
    border-bottom:2px solid rgb(30, 98, 181); 
}

#messageBox button{
    border-radius: 10px;
    border: none;
    background-color:  rgb(30, 123, 181); 
    color: white;
    font-size: 14px;
    box-shadow:none;
    transition:box-shadow 0.3s ease;
}

#messageBox span#location{
    margin-right: 1%;
    border-radius: 10px;
    border: none;
    background-color:  rgb(30, 123, 181);
    color: white;
    padding: 5px; 
    transition:box-shadow 0.3s ease;
}

#messageBox button:focus{
    outline: none;
}

#messageBox button:hover,#messageBox span#location:hover{
    box-shadow: 0px 0px 5px 0px gray;
    background-color: rgb(41, 147, 213); 
    cursor: pointer;
}
/* ----------------------------MESSAGE BOX ENDS--------------------------- */

/*------------Clearfix: forces an element not to collapse upon content flow disruption------------*/
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}